main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main form{
    margin-bottom: 16%;
}

main form div {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

main form button{
    background-color: #2198CC;
    margin: 5px;
    padding: 5px;
    width: 100%;
    border: none;
}

main form button:hover{
    cursor: pointer;
}

main img {
    width: 100px;
    height: 100px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

#tabContainer {
    margin: 50px;
}

.neutral_a{
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
    display: inherit;
}

.mr_tabs {
    margin-right: 15%;
}

.font_tabs {
    font-family: "Trebuchet MS", serif;
    font-size: 20px;
}

h2 {
    font-family: "Trebuchet MS", serif;
    margin-left: 20px;
}
