
.flex-center {
    display: flex;
    justify-content: center;
}
.flex-spread{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.neutral_a{
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
    display: inherit;
}